/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #801717;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i,
span {
    display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#side-bar {
    display: flex;
    height: 100%;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    height: 100%;
    min-width: 15em;
    max-width: 15em;
    background: #57585f;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

.sidebar-header:hover { background-color: #57585f !important; }

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #57585f;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #57585f;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #57585f;
    background: #fff;
}

#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #57585f;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #57585f;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #57585f;
}

a.article,
a.article:hover {
    background: #57585f !important;
    color: #fff !important;
}

.disable-scrollbars::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Chrome/Safari/Webkit */
}

.disable-scrollbars {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */


.modal-header {
     color: white;
     background-color: #57585f;  
 }

 .modal-button {
    color: white;
    background-color: #57585f;  
}

.example-open .modal-backdrop {background-color:#57585f;}

#content {
    width: 100%;
    height: 100%;
    padding: 0px;
    min-height: 100vh;
    transition: all 0.3s;
}
.stick {
    position: fixed;
    top: 0;
    opacity: 0.6;
    width:100%;
    max-height:25vh;
    z-index:9999;
}

#myInput {
  /* background-image: url('/css/searchicon.png');  Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

/* ---------------------------------------------------
    MAIN MAP STYLE
----------------------------------------------------- */

#map {
    width: 100%;
    padding: 0px;
    min-height: 100vh;
    transition: all 0.3s;
}

.popupCustom .leaflet-popup-content {
    display:block;
    margin:0px;
}

/* css to customize Leaflet default styles  */
.popupCustom .leaflet-popup-content-wrapper {
    background: #57585f;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    width:150px;
    height:225px;
    margin:0px;
}

.popupLine{
    width: 100%;
    height: 5px;
    border-bottom: 1px solid white;
    position: relative;
}

.popupCustom .roundrect {
    border-radius: 15px;
}

.popupCustom .leaflet-popup-tip-container {
    width:30px;
    height:15px;
}


/* css to customize Leaflet default styles  */
.popupBar .leaflet-popup-content-wrapper {
    background: #57585f;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    width:100px;
    height:100px;
    margin:0px;
}

.popupBar .roundrect {
    border-radius: 15px;
}



.popupBar .leaflet-popup-tip-container {
    width:30px;
    height:15px;
}




/* ---------------------------------------------------
    SIDE BAR STYLE
----------------------------------------------------- */

#sidebarCollapse {
        background: #57585f;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media only screen and (max-width: 700px) and (orientation:landscape) {
    #sidebar {
        min-width: 15em;
        max-width: 15em;
        text-align: center;
    }
    ul.CTAs {
    padding: 3%;
    }
    #sidebar .sidebar-header {
    display : none;
    }

    #sidebar.active .sidebar-header{
        text-align: center;
        background: #57585f;
        padding: 15%;
        max-width: 5em;
        display: block;
    };
    .form-group {
        margin-bottom: 1%;
    }
    .mr-sm-2, .mx-sm-2 {
    /* margin-right: .5rem!important; */
        align-content: center;
        margin-bottom: 0%;
    }
    .h3, h3 {
        font-size: 1.5rem;
        margin-bottom: 0;
    }
    .leaflet-bottom {
        height: 100%;
    }
    .leaflet-control {
        float: left;
        clear: unset;
    }
    .leaflet-right .leaflet-control {
        margin-right: 0px;
    }
    .leaflet-bottom .leaflet-control {
        margin-bottom: 0px;
    }
    #myInput {
    background-image: url(/css/searchicon.png);
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    /* margin-bottom: 12px; */
    }
    .leaflet-touch .leaflet-control-attribution {
        display:none;
    }
    .leaflet-bottom {
        bottom: unset;
    }
}

@media only screen and (max-width: 700px) and (orientation:portrait) {
    #sidebar {
        height: 100%;
        min-width: 21vh;
        max-width: 21vh;
    }
    #sidebar.active {
        min-width: 12vh;
        max-width: 12vh;
    }
    #sidebar .sidebar-header {
        padding: 15px;
        background: #57585f;
        margin-bottom: 30%;
        padding-top: 30%;
    }
    .input-group-btn {
        margin-bottom:10%;
    }
    .form-control {
        width: 85%;
        padding: .375rem;
        margin : .40rem;
        font-size: 0.73rem;
    }
    ul.CTAs {
        padding: 5%;
    }
    .btn {
        padding : .575rem .100rem;
    }
    .leaflet-right .leaflet-control {
        margin-right: 0px !important;
        max-width: 45vh;
        min-width: 35vh;
    }
    .leaflet-bottom {
        bottom: unset !important;
    }
    .leaflet-control-zoom  {
        display: none !important;
    }
    .leaflet-control-attribution {
        display: none !important;
    }
    .leaflet-bottom {
        position: absolute;
        margin-top: 5vh;
    }
    #map {
        min-height : 110vh;
    }
    .Content {
    height: 100vh !important;
    }
}

/* STYLE POUR LA GALERIE IMAGE DESTINATION */

.gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%; }
.gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease; }
.gallery .animation {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }

@media (max-width: 600px) {
    .gallery {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-width: 33%;
        -moz-column-width: 33%;
        column-width: 300px;
    }
}

@media (max-width: 600px) {
    #items-link {
        font-size:2vh;
    }

    #beer_link {
        font-size:2vh;
    }

    .weather {
        width: 75px !important;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 50px;
        margin-top: 50px;
    }

    .card-img-top {
        width: 100%;
        height: 100%;

    }

    #beer_container{
        display: grid !important;
    }

    #beer_container{
        display: grid !important;
    }

    #test {
        display: block;
    }

    #items_container {
        display: block;
    }


}

@media (max-width: 400px) {
    .btn.filter {
        padding-left: 1.1rem;
        padding-right: 1.1rem;
    }
}

/* ---------------------------------------------------
    LOADER STYLE
----------------------------------------------------- */

/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript,
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: relative; left: 100px; top: 0; }
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../images/icons/loading.gif) no-repeat center fixed;
    background-size: cover;
    opacity: 0.75;
    display: none;
}

.se-loading-function {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../images/icons/train_animation.gif) no-repeat center fixed;
    background-size: cover;
    opacity: 0.8;
    display: none;
}

/* ---------------------------------------------------
    BAR MAP STYLE
----------------------------------------------------- */

.bar{
    position: relative;
    width: 100%;
    max-height: 50vh;
    left: 0.0%;
    top: 0.0%;
    margin-bottom: 1vh;
}

.card-custom {
    background-color: #57585f;
}

.FixedHeightContainer {
    float:right;
    top: 0;
    height: 30rem;
    width:18rem;
    padding:0px;
    border-radius: 25px;
}

.Content {
    height:100%;
    width:100%;
    background: rgba(87, 88, 127, 0);
    overflow-y: auto;
}

#animated-gif-container {
    width:10rem;
    height:2rem;
    background: url(../images/icons/animated-train.gif) no-repeat center center;
}

.info {
    padding: 6px 8px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    color:white;
    border-radius: 25px;
    background-color:#57585f;
}
.info h4 {
    margin: 0 0 5px;
    color: #57585f;
}

.weather {
    width: 15vh;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.dropdown-toggle.shaker {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
    /* When the animation is finished, start again */
    animation-iteration-count: 2; 
}

.info_select:hover { color:#010050; background-color:#57585f;border-radius: 15px; opacity:0.5; }
.info_select:active { color:#010050; background-color:#57585f;border-radius: 15px;opacity:0.5; }

@keyframes shake {
    0% {
        transform: translate(1px, 1px);
    }
    10% {
        transform: translate(-1px, -2px);
    }
    20% {
        transform: translate(-3px, 0px);
    }
    30% {
        transform: translate(3px, 2px);
    }
    40% {
        transform: translate(1px, -1px);
    }
    50% {
        transform: translate(-1px, 2px);
    }
    60% {
        transform: translate(-3px, 1px);
    }
    70% {
        transform: translate(3px, 1px);
    }
    80% {
        transform: translate(-1px, -1px);
    }
    90% {
        transform: translate(1px, 2px);
    }
    100% {
        transform: translate(1px, -2px);
    }
}

.btn-group-toggle.btn-block {
    display: flex;
}
.btn-group-toggle.btn-block > .btn {
    flex: 1;
}

/* ---------------------------------------------------
    CALENDAR
----------------------------------------------------- */

#calendar-table {
    display: block;
    height: 10rem;
    width:75rem;
    overflow-x: scroll;
    overflow-y:hidden;
}

.stage-earth {background-color: #FFA726};
.stage-mercury {background-color: #9CCC65};
.stage-venus {background-color: #FF8A65};
.stage-mars {background-color: #B3E5FC};
.stage-jupiter {background-color: #81D4FA};
.stage-saturn {background-color: #26C6DA};


.calendar {
    padding: 6px 8px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    color:white;
    border-radius: 5px;
    background-color:#57585f;
}
.calendar h4 {
    margin: 0 0 5px;
    color: #57585f;
}


/* ---------------------------------------------------
    SWITCH STYLE
----------------------------------------------------- */
.ques {
    color: darkslateblue;
}
.switch {
  position: relative;
  display: inline-block;
  width: 130px;
  height: 50px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f2f2f2;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  z-index: 2;
  content: "";
  height: 46px;
  width: 46px;
  left: 2px;
  bottom: 2px;
  background-color: #57585f;
      -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.22);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.22);
  -webkit-transition: .4s;
  transition: all 0.4s ease-in-out;
}
.slider:after {
  position: absolute;
  left: 0;
  z-index: 1;
  content: "Ticket";
    font-size: 20px;
    text-align: left !important;
    line-height: 45px;
  padding-left: 0;
    width: 130px;
    color: #fff;
    height: 50px;
    border-radius: 50px;
    background-color: #57585f;
    -webkit-transform: translateX(-80px);
    -ms-transform: translateX(-80px);
    transform: translateX(-80px);
    transition: all 0.4s ease-in-out;
}

input:checked + .slider:after {
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
  /*width: 235px;*/
  padding-left: 25px;
}

input:checked + .slider:before {
  background-color: #fff;
}

input:checked + .slider:before {
  -webkit-transform: translateX(80px);
  -ms-transform: translateX(80px);
  transform: translateX(80px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 50px;
}

.slider.round:before {
  border-radius: 50%;
}
.absolute-no {
	position: absolute;
	left: 0;
	color: #57585f;
	text-align: right !important;
    font-size: 25px;
    width: calc(100% - 25px);
    height: 45px;
    line-height: 45px;
    cursor: pointer;
}

/* Card */

.card-header .fa {
  transition: .3s transform ease-in-out;
}
.card-header .collapsed .fa {
  transform: rotate(90deg);
}

.modal-body {
    max-height: calc(100vh - 143px);
    overflow-y: auto;
}

